//左侧栏变量
$themeColor:#409eff;
$themeColorHover:#49a9ee;
$themeColorDefault:#606266;
$themeColorInfo:#909399;
$themeColorSuccess:#00a854;
$themeColorWarning:#e6a23c;
$themeColorDanger:#f56c6c;
$a-hover:#49a9ee;

$menuWidth: 160px;
$menuWidthCollapse: 60px;
$menu-bg:#001529;
$menu-bg-active:#191b24;
$menu-font:#999;
$menu-font-active:#fff;

$T-S:14px;
