//左侧栏变量
$themeColor:#02aadb;
$themeColorHover:#00bef5;
$themeColorDefault:#606266;
$themeColorInfo:#909399;
$themeColorSuccess:#00a854;
$themeColorWarning:#e6a23c;
$themeColorDanger:#f56c6c;
$a-hover:#49A9EE;

$menuWidth: 160px;
$menuWidthCollapse: 60px;
$menu-bg:#001529;
$menu-bg-active:#191b24;
$menu-font:#999;
$menu-font-active:#FFFFFF;
